/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

img {
  width: 100%;
}

.text--purple {
  color: #7432d6;
}

h1 {
  font-size: 56px;
  margin-bottom: 24px;
  color: #7432d6;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}

.container {
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row__column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.no-cursor {
  cursor: no-drop;
}

.text--purple {
  color: #7432d6;
}

/* NAV */

nav {
  height: 80px;
  display: flex;
}
.nav__container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 24px;
}

.nav__link {
  margin-left: 16px;
  font-size: 20px;
  color: #7432d6;
  font-weight: bold;
  padding: 8px;
}

.nav__link--primary {
  border: solid 2px #7432d6;
  border-radius: 4px;
  transition: all 300ms ease;
}

.nav__link--primary:hover {
  text-decoration: none;
  background-color: #7432d6;
  color: white;
}

.logo {
  width: 160px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  visibility: hidden;
  opacity: 0;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 28px 0;
}

.menu__link {
  color: white;
  font-size: 40px;
}

.btn__menu--close {
  color: white;
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
}

/* LANDING */

#landing {
  background-color: rgba(115, 66, 214, 0.1);
}

header {
  height: calc(100vh - 80px);
}

.header__img--wrapper {
  padding: 24px;
  z-index: 2;
}

.header__img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
  padding: 20px;
}

.header__container {
  height: 100%;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.header__button {
  padding: 12px 24px;
  background-color: #7432d6;
  color: white;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  margin-bottom: 24px;
  transition: all 300ms ease;
}

.header__button:hover {
  background-color: #5f2ea8;
}

/* HIGHLIGHT'S DIVIDE */

#highlights {
  position: relative;
}

#highlights::after,
#highlights::before {
  background: url("./assets/wave.svg");
  content: "";
  position: absolute;
  width: 101vw;
  height: 12vw;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

#highlights::before {
  top: 1px;
  transform: translateY(-100%);
}

#highlights::after {
  bottom: 1px;
  transform: translateY(100%) rotate(180deg);
}

/* HIGHLIGHTS*/

.highlight__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.highlight {
  padding: 0 24px;
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.highlight__img {
  color: #7432d6;
  border: solid 2px #7432d650;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 32px;
}

.highlight__para {
  text-align: center;
  max-width: 280px;
}

.highlight__para {
  margin-bottom: 20px;
}

.highlight__sub-title {
  margin: 20px 0;
  text-align: center;
}

/* FEATURES */

#features {
  padding-top: 12vw;
  background-color: rgba(115, 66, 214, 0.1);
}

.books {
  display: flex;
  flex-wrap: wrap;
}

.book {
  width: 25%;
  padding: 24px;
}

.book__img--wrapper {
  margin-bottom: 8px;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
}

.book__img {
  max-height: 380px;
  transition: all 350ms ease;
  cursor: no-drop;
}

.book:hover .book__img {
  transform: scale(1.03);
}

.book__title {
  font-size: 20px;
  margin-bottom: 8px;
}

.book__title:hover {
  cursor: no-drop;
}

.book__price--normal {
  text-decoration: line-through;
  padding-right: 6px;
  color: #bfbfbf;
}

.book__rating {
  color: #fabf2a;
  margin-bottom: 8px;
}

/* RECENT BOOKS*/

#recent {
  padding: 50px 0;
}

/* EXPLORE */

#explore {
  background-color: rgba(115, 66, 214, 0.1);
}

/* FOOTER */

footer {
  background-color: #242424;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  display: flex;
  width: 160px;
  filter: grayscale(1) invert(1);
}

.footer__list {
  margin: 20px 0 24px 0;
}

.footer__link,
.footer__copyright {
  color: white;
  padding: 0 24px;
}

/* SMALL PHONES, TABLETS, LARGE PHONES */

@media (max-width: 768px) {
  .header__description {
    padding: 0 24px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 26px;
  }

  button {
    font-size: 18px;
  }

  .book {
    width: 50%;
  }

}

/* SMALL PHONES, LARGE PHONES */

@media (max-width: 550px) {
  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }

  .highlight {
    width: 100%;
  }

  .highlight:not(:last-child) {
      margin-bottom: 24px;
  }
}

/* BOOKS PAGE */

#books__body {
  background-color: rgba(115, 66, 214, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#books__main {
  flex: 1;
}

.books__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.books__header--title {
  margin-bottom: 0;
}

select {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 48px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
}

.books__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  font-size: 60px;
  color: #7432d6;
}

.books__loading--spinner {
  display: none !important;
}

.books__loading .books__loading--spinner {
  display: block !important;
}

.fa-spinner {
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  0%{
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}